.achievements-section {
    margin-top: 70px;
    padding-bottom: rem(43px);

    @media (max-width: 768px) {
         margin-top: rem(50px);
    }
}

.achievements-section__content {
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 413px;
        height: 479px;
        background-image: url(../images/achievements-section-img/bag.png);
        background-size: contain;
        position: absolute;
        top: -257px;
        right: 61px;
        z-index: -1;

        @media (max-width: 768px) {
            width: 300px;
            height: 348px;
            top: -190px;
        }

        @media (max-width: 480px) {
            width: 210px;
            height: 244px;
            top: -135px;
            right: 25px;
        }
    }
}

.achievements-section__slider {
    margin-top: 110px;
    padding-left: 10px;
    background-color: $white;

    @media (max-width: 768px) {
        margin-top: 65px;
        padding-left: 0;
    }
}

.leaky-sides--achievements-section {
    position: absolute;
    top: -20px;
    left: 44px;
}

.achievements-section__slider-item {
    display: none;
    padding: 55px 40px 48px 0;

    box-shadow: 0px 6px 12px rgba($black, 0.14), 0px 16px 24px rgba($black, 0.08);

    @media (max-width: 768px) {
        padding: 30px 25px 25px 0;
    }

    @media (max-width: 480px) {
        padding-left: 20px;
    }

    &--active {
        display: flex;
    }
}

.achievements-section__slider-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    max-width: 300px;
    padding: 0 15px;
    min-width: 100px;

    img {
        max-width: 100%;
    }

    @media (max-width: 480px) {
        position: absolute;
        right: 0;
    }
}

.achievements-section__info-title {
    height: auto;
    font-size: rem(36px);

    @media (max-width: 768px) {
        font-size: rem(26px);
    }

    @media (max-width: 480px) {
         max-width: 300px;
    }
}

.achievements-section__slider-text {
    max-width: 700px;
    margin-top: 15px;
    line-height: rem(24px);
}

.achievements-section__slider-list {
    display: flex;
    flex-wrap: wrap;

    margin-top: 67px;
    list-style: none;

    @media (max-width: 768px) {
        margin-top: rem(25px);
        row-gap: 10px;
    }
}

.achievements-section__list-item {
    width: 48%;
    min-width: 400px;
    display: flex;
    align-items: center;
    column-gap: rem(17px);
    font-weight: 500;
    margin-left: 10px;
    padding-right: rem(20px);

    b {
        min-width: 180px;
        font-size: rem(48px);

        @media (max-width: 768px) {
            font-size: rem(38px);
            min-width: rem(150px);
        }

        @media (max-width: 480px) {
            font-size: rem(28px);
            min-width: rem(110px);
        }
    }

    @media (max-width: 768px) {
        min-width: 300px;
    }

    @media (max-width: 480px) {
        min-width: 250px;
    }
}

.achievements-section__slider-points {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    margin-top: 48px;

    @media (max-width: 768px) {
        margin-top: rem(30px);
    }
}

.achievements-section__points-item {
    width: 8px;
    height: 8px;
    background-color: $black;
    border-radius: 50%;

    transition: width 0.5s ease-in, height 0.5s ease-in, background-color 0.5s ease-in;
    cursor: pointer;
}

.achievements-section__points-item--active {
    width: 12px;
    height: 12px;
    background-color: $lightning-yellow;
}
