.footer {
    padding: rem(58px) 0 rem(58px) rem(20px);
}

.footer__top {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(25px);
}

.footer__logo {
    margin-right: rem(106px);

    span {
        font-size: rem(36px);
        line-height: 1;
        font-weight: 700;
        font-family: $title-font-family;
        text-transform: uppercase;
    }
}

.footer__nav-menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.footer__nav-menu-item {
    font-family: $title-font-family;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 28px;
    margin-bottom: 5px;
    overflow-x: hidden;
    transition: color 0.5s ease-in;

    &:last-child {
        margin-right: 0;
    }

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 4px;
        background-image: url('../images/wave.svg');

        transition: width 0.5s ease-in;
    }

    &:hover {
        color: $color-hover;
    }

    &:hover::after {
        width: 100%;
    }
}

.footer__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: rem(25px);
    margin-top: 120px;

    @media (max-width: 768px) {
        margin-top: 70px;
    }

    @media (max-width: 480px) {
        margin-top: 35px;
    }
}

.footer__bottom-info {
    display: flex;
    column-gap: rem(14px);
    font-size: rem(18px);

    p {
        font-family: $text-font-family;
        font-size: rem(14px);
        line-height: rem(20px);
        min-width: 150px;
    }
}

.footer__bottom-contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    row-gap: 15px;
}

.footer__adress {
    display: flex;
    align-items: center;
    font-size: rem(14px);
    font-family: $text-font-family;
    margin-right: rem(74px);
    margin-bottom: 15px;
    transition: color 0.3s ease-in;

    &::before {
        font-size: rem(24px);
        margin-right: 14px;
    }

    &:hover {
        color: $color-hover;
    }
}

.footer__contact-info {
    margin-right: rem(66px);
    margin-left: 40px;
}

.footer__contact-phone {
    display: flex;
    align-items: center;
    position: relative;
    font-family: $text-font-family;
    font-weight: 700;
    font-size: rem(22px);
    margin-bottom: 8px;
    transition: color 0.3s ease-in;

    &::before {
        position: absolute;
        left: -40px;
    }

    &:hover {
        color: $color-hover;
    }
}

.footer__contact-mail {
    transition: color 0.3s ease-in;

    &:hover {
        color: $color-hover;
    }
}

.footer__bottom-icon {
    margin-right: rem(110px);
    font-size: 30px;
    transition: color 0.3s ease-in;

    &:hover {
        color: $lightning-yellow;
    }

    @media (max-width: 480px) {
        margin-right: rem(50px);
    }
}

.btn--footer {
    font-size: rem(18px);
    padding: rem(10px) rem(20px);
    margin-right: 10px;

    svg {
        left: 98%;

        @media (max-width: 768px) {
            left: 97%;
        }
    }
}
