@function rem($size) {
    @return $size / $font-size * 1rem;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: $font-size;
    font-family: $text-font-family;
    color: $color-text;
    position: relative;
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
        font-size: $font-size-teblet;
    }

    @media (max-width: 480px) {
        font-size: $font-size-mobile;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    color: inherit;
    font-family: inherit, sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    width: 95%;
    max-width: $container-width;
    margin: 0 auto;
}

.gradient {
    overflow: hidden;
    position: relative;
    background: linear-gradient(
            0deg,
            $electric-violet -1.81%,
            $international-orange 33.5%,
            rgba($lightning-yellow, 0.3) 84.16%,
            $white 145.56%
        ),
        $lightning-yellow;

    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 20;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, $white 0%, rgba($black, 0) 59.03%);
    }

    .container {
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            border-radius: 50%;
            position: absolute;
            z-index: 10;
        }

        &::before {
            width: 2000px;
            height: 2000px;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);
            border: 180px solid rgba($lightning-yellow, 0.3);
        }

        &::after {
            width: 1300px;
            height: 1300px;
            top: 50%;
            left: 331px;
            transform: translateY(-50%);
            border: 150px solid rgba($lightning-yellow, 0.3);
        }
    }
}

.btn {
    font-family: $title-font-family;
    color: $white;
    background-color: $black;

    border-radius: 6px;
    position: relative;
    z-index: 10;

    transition: background-color 0.5s ease-in, color 0.5s ease-in;

    &:hover {
        color: $black;
        background-color: $lightning-yellow;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        border-radius: 6px;
        transform: rotate(45deg);
        background-color: $black;
        transition: background-color 0.5s ease-in;
    }

    &:hover::after {
        background-color: $lightning-yellow;
    }
}

.leaky-sides {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: $white;
    padding: 10px 27px;
    background-color: $electric-violet;
    border-radius: 4px;
}

.section-title {
    font-size: rem(32px);
    line-height: rem(42px);
    font-weight: bold;
    color: $white;
}

.section-title--black {
    color: $color-text;
}
