@function rem($size) {
    @return $size / $font-size * 1rem;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --animate-delay: 0.4s;
}

html,
body {
    font-size: $font-size;
    font-family: $text-font-family;
    color: $color-text;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: default;

    @media (max-width: 768px) {
        font-size: $font-size-teblet;
    }

    @media (max-width: 480px) {
        font-size: $font-size-mobile;
    }
}

.no-scroll {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    color: inherit;
    font-family: inherit, sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    width: 95%;
    max-width: $container-width;
    margin: 0 auto;
}

.gradient {
    overflow: hidden;
    position: relative;
    background: linear-gradient(
            0deg,
            $electric-violet -1.81%,
            $international-orange 33.5%,
            rgba($lightning-yellow, 0.3) 84.16%,
            $white 145.56%
        ),
        $lightning-yellow;

    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 20;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, $white 0%, rgba($black, 0) 59%);
    }

    .container {
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            border-radius: 50%;
            position: absolute;
            z-index: 10;
        }

        &::before {
            width: 2000px;
            height: 2000px;
            top: 50%;
            left: -20px;
            transform: translateY(-50%) rotate(-45deg);
            border: 180px solid rgba($lightning-yellow, 0.3);
            border-top: 180px solid rgba($lightning-yellow, 0.3);
            border-left: 180px solid rgba($lightning-yellow, 0.3);
        }

        &::after {
            width: 1300px;
            height: 1300px;
            top: 50%;
            left: 331px;
            transform: translateY(-50%) rotate(-45deg);
            border-top: 150px solid rgba($lightning-yellow, 0.3);
            border-left: 150px solid rgba($lightning-yellow, 0.3);
        }
    }
}

.btn {
    font-family: $title-font-family;
    font-size: rem(24px);
    font-weight: 700;
    color: $white;
    background-color: $black;

    padding: 16px 40px 16px 33px;

    border-radius: 6px;
    position: relative;
    z-index: 10;

    transition: background-color 0.5s ease-in, color 0.5s ease-in;

    svg {
        height: 100%;
        width: auto;

        position: absolute;
        top: 0;
        left: 98%;

        path {
            transition: background-color 0.5s ease-in, fill 0.5s ease-in;
        }
    }

    &:hover {
        color: $black;
        background-color: $lightning-yellow;

        svg path {
            fill: $lightning-yellow;
        }
    }
}

.btn--header-footer {
    font-size: rem(18px);
    padding: rem(10px) rem(20px);
    margin-right: 10px;

    svg {
        left: 97.5%;

        @media (max-width: 768px) {
            left: 97%;
        }
    }
}

.leaky-sides {
    display: inline-block;
    font-size: rem(18px);
    font-weight: 700;
    color: $white;
    padding: rem(10px) rem(23px);
    background-color: $electric-violet;
    border-radius: 4px;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 5px;
        height: 100%;
        background: url(../images/half-holes.svg);
        position: absolute;
        top: 0;
        left: -2px;
    }

    &::after {
        content: '';
        display: block;
        width: 5px;
        height: 100%;
        background: url(../images/half-holes.svg);
        position: absolute;
        top: 0;
        right: -2px;

        transform: rotate(180deg);
    }
}

.section-title {
    font-size: rem(32px);
    line-height: rem(42px);
    font-weight: bold;
    color: $white;

    &--black {
        color: $color-text;
    }
}

.list-marker {
    &::before {
        flex-shrink: 0;
        box-sizing: content-box;
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $electric-violet;

        border: 5px solid $white;
        box-shadow: 0 0 0 7px $yellow;

        transition: background-color 0.4s ease-in;
    }
}

input,
select {
    outline: none;
    border: none;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
}

.header-footer-menu-item {
    font-family: $title-font-family;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 30px;
    margin-bottom: 5px;
    transition: color 0.5s ease-in;

    &:last-child {
        margin-right: 0;
    }

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 4px;
        background-image: url('../images/wave.svg');

        transition: width 0.5s ease-in;
    }

    &:hover {
        color: $color-hover;
    }

    &:hover::after {
        width: 100%;
    }
}

.header-footer-adress {
    display: flex;
    align-items: center;
    font-size: rem(14px);
    font-family: $text-font-family;
    transition: color 0.3s ease-in;

    &::before {
        font-size: rem(24px);
        margin-left: 0;
        margin-right: 12px;
    }

    &:hover {
        color: $color-hover;
    }
}

.header-footer-phone {
    display: flex;
    align-items: center;
    position: relative;
    font-family: $text-font-family;
    font-weight: 700;
    font-size: rem(24px);
    margin-bottom: 8px;
    transition: color 0.3s ease-in;

    &::before {
        position: absolute;
        margin-left: 0;
        left: -40px;

        @media (max-width: 768px) {
            left: -35px;
        }
    }

    &:hover {
        color: $color-hover;
    }
}
