.how-section {
    background-color: $light-gray;
    margin-top: 100px;
    padding-top: 70px;

    @media (max-width: 768px) {
        margin-top: rem(60px);
        padding-top: rem(45px);
    }
}

.how-section__img-block {
    max-height: 582px;
    margin-top: 70px;

    display: flex;
    justify-content: center;
    position: relative;

    img {
        max-width: 46vw;

        @media (max-width: 768px) {
            display: none;
        }
    }

    @media (max-width: 768px) {
        margin-top: rem(45px);
        padding-bottom: rem(45px);
    }
}

.how-section__list {
    width: 100%;
    height: 89%;
    list-style: none;
    position: absolute;
    top: 44.5%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12%;

    @media (max-width: 768px) {
        position: static;
        grid-column-gap: rem(25px);
        grid-row-gap: rem(20px);
        transform: translate3d(0, 0, 0);
        grid-template-columns: 1fr;
        padding-left: rem(35px);
    }
}

.how-section__list-item {
    display: flex;
    align-items: center;
    column-gap: calc(1vw + 15px);

    &:nth-child(1) {
        margin-right: 28%;

        @media (max-width: 768px) {
            margin: 0;
            order: 2;
        }
    }

    &:nth-child(2) {
        margin-top: -50%;

        @media (max-width: 768px) {
            margin: 0;
            order: 3;
        }
    }

    &:nth-child(3) {
        margin-right: 28%;

        @media (max-width: 768px) {
            margin: 0;
            order: 1;
        }
    }

    &:nth-child(4) {
        margin-top: -52%;
        margin-left: 35%;

        @media (max-width: 768px) {
            margin: 0;
            order: 4;
        }
    }
}

.how-section__item-left {
    .how-section__circle {
        order: 2;

        @media (max-width: 768px) {
            order: 1;
        }
    }

    .how-section__item-text {
        order: 1;
        text-align: end;

        @media (max-width: 768px) {
            text-align: start;
            order: 2;
        }
    }
}

.how-section__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    box-sizing: content-box;
    width: calc(1vw + 20px);
    height: calc(1vw + 20px);

    font-family: $title-font-family;
    font-size: calc(1vw + 6px);
    font-weight: 700;
    color: $white;
    background-color: $electric-violet;
    border-radius: 50%;
    border: 4px solid $white;

    box-shadow: 0 0 0 0.5vw $lightning-yellow;
}

.how-section__item-text {
    max-width: 330px;
    font-size: calc(0.45vw + 8px);
    line-height: 1.25;

    @media (max-width: 768px) {
        font-size: rem(16px);
        max-width: 70%;
    }
}