.intro {
    position: relative;
    z-index: 100;
    margin-top: 140px;
    padding-bottom: 167px;

    @media (max-width: 768px) {
        margin-top: 90px;
        padding-bottom: 90px;
    }

    @media (max-width: 480px) {
        margin-top: 70px;
        padding-bottom: 50px;
    }
}

.intro__img-girl {
    max-width: 100%;
    position: absolute;
    left: 130px;
    bottom: 0;
    z-index: -1;

    @media (max-width: 768px) {
        left: 0;
    }
}

.intro__img-target {
    max-width: 100%;
    position: absolute;
    bottom: 45px;
    right: -154px;
    z-index: -10;

    @media (max-width: 768px) {
        display: none;
    }
}

.intro__logo {
    display: inline-block;
    position: relative;

    img {
        max-width: 100%;
    }
}

.intro__logo-text {
    position: absolute;
    top: -45px;
    right: 18px;

    font-size: rem(54px);
    font-weight: 700;
    color: $white;
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: rem(48px);
        top: -30px;
    }

    @media (max-width: 480px) {
        font-size: rem(40px);
        top: -24px;
    }
}

.intro__logo {
    display: inline-block;
    position: relative;

    img {
        max-width: 100%;
    }
}

.intro__left-text {
    font-family: $title-font-family;
    font-size: rem(22px);
    margin: 26px 0 24px;
}