$container-width: 1177px;
$font-size: 16px;
$font-size-teblet: 15px;
$font-size-mobile: 13px;
$text-font-family: 'Roboto', sans-serif;
$title-font-family: 'Roboto Condensed', sans-serif;
$color-text: #000;
$color-hover: #453886;
$black: #000;
$white: #fff;
$gray: #E5E5E5;
$lightning-yellow: #fdbf0f;
$violet: #7224EA;
$electric-violet: #651fff;
$international-orange: #FF5900;
