.what-section {
    background-color: $violet;
    padding-top: 80px;
    overflow: hidden;

    .container {
        position: relative;
        z-index: 100;
    }

    @media (max-width: 768px) {
        padding-top: rem(50px);
    }
}

.what-section__aside-block {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(47px);

    margin-top: rem(87px);
    margin-bottom: rem(62px);

    @media (max-width: 768px) {
        margin-top: rem(60px);
        margin-bottom: rem(42px);
    }

    @media (max-width: 480px) {
        row-gap: rem(20px);
    }
}

.what-section__aside-double {
    display: flex;
    column-gap: 22px;

    @media (max-width: 480px) {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: rem(20px);
    }
}

.what-section__item {
    width: 50%;
    max-width: 374px;
    min-height: 120px;
    padding: rem(30px);

    background-color: $white;

    color: $electric-violet;
    font-size: rem(40px);

    display: flex;
    column-gap: 20px;
    align-items: center;

    box-shadow: 0px 6px 12px rgba($black, 0.14), 0px 16px 24px rgba($black, 0.08);

    &::before {
        margin: 0;
        padding: 0;
    }

    @media (max-width: 480px) {
        width: 100%;
    }
}

.what-section__item-text {
    font-family: $text-font-family;
    font-size: rem(16px);
    line-height: rem(20px);
    color: $color-text;
}

.btn--what-section {
    margin-bottom: rem(80px);
}

.btn--what-section {
    background-color: $international-orange;

    svg {
        path {
            fill: $international-orange;
        }
    }
}

.what-section__circle {
    box-sizing: content-box;
    position: absolute;
    bottom: 40px;
    right: -60px;
    z-index: -1;

    width: 268px;
    height: 268px;
    background-color: $blush;
    border-radius: 50%;
    border: 105px solid $electric-violet;
    box-shadow: 0 0 0 152px $blush;
}

.what-section__circle-img {
    position: absolute;
    bottom: -145px;
    right: -95px;

    width: 588px;
    height: 602px;
    background-image: url(../images/what-section-img/hend.png);

    &::after {
        content: '';
        display: block;
        width: 210px;
        height: 360px;

        position: absolute;
        right: 95px;
        bottom: 180px;

        background: url(../images/what-section-img/aliexpress.png) no-repeat;
        background-position: 50% -100%;
        
        animation: descent 5s linear infinite, shakeX 2s ease-in-out infinite;
    }
}

@keyframes descent {
    0% {
        background-position: 50% -100%;
    }

    65% {
        opacity: 1;
    }

    100% {
        background-position: 50% 150%;
        opacity: 0;
    }
}