.whom-section {
    background-color: $violet;
    padding-top: rem(47px);
    padding-bottom: rem(36px);
}

.whom-section__content {
    margin-top: 44px;

    display: flex;
    color: $white;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        row-gap: rem(35px);
   }
}

.whom-section__item {
    width: 50%;
    display: flex;
    column-gap: 20px;

    @media (max-width: 768px) {
         width: 100%;
    }
}

.whom-section__circle {
    flex-shrink: 0;
    width: rem(80px);
    height: rem(80px);
    border-radius: 50%;
    border: 2px solid $white;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: rem(30px);
    color: $lightning-yellow;
}

.whom-section__circle--before {
    font-size: rem(25px);
    padding-right: rem(5px);
}

.whom-section__item-content {
    width: 55%;

    @media (max-width: 768px) {
        width: 100%;
   }
}

.whom-section__title {
    font-size: rem(18px);
    margin-bottom: 13px;
}

.whom-section__text {
    font-size: rem(14px);
}