.why-section {
    margin-top: rem(75px);

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    @media (max-width: 768px) {
        margin-bottom: rem(50px);
    }
}

.leaky-sides--why-section {
    margin-left: 103px;

    @media (max-width: 768px) {
        margin-left: 0;
    }
}

.why-section__left,
.why-section__right {
    margin-top: 78px;
    padding-bottom: 92px;
    width: 50%;

    @media (max-width: 768px) {
        width: 100%;
        margin-top: rem(45px);
        margin-bottom: rem(15px);
        padding-bottom: 0;
    }
}

.why-section__left-list {
    margin-top: 45px;
    margin-bottom: 60px;
    margin-left: 103px;

    max-width: 360px;

    list-style: none;

    @media (max-width: 768px) {
        margin-top: rem(30px);
        margin-bottom: rem(30px);
    }

    @media (max-width: 480px) {
        margin-left: 0;
    }
}

.why-section__left-item {
    font-size: rem(14px);
    line-height: rem(20px);
    padding-left: 33px;
    position: relative;

    &::before {
        content: '\2022';
        font-size: 34px;

        position: absolute;
        top: 0;
        left: 0;
    }
}

.why-section__left-item + .why-section__left-item {
    margin-top: rem(17px);
}

.why-section__left-img {
    margin-left: 73px;

    img {
        max-width: 100%;
    }

    @media (max-width: 768px) {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
}

.why-section__right {
    padding-left: 62px;
    border-left: 1px solid $black;

    @media (max-width: 768px) {
        border: none;
    }

    @media (max-width: 480px) {
        padding-left: 0;
    }
}

.why-section__right-list {
    margin-top: rem(43px);
    margin-bottom: 108px;
    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: rem(47px);
    row-gap: 57px;

    @media (max-width: 768px) {
        row-gap: rem(40px);
        margin-bottom: 40px;
    }

    @media (max-width: 480px) {
        column-gap: 15px;
        row-gap: 20px;
        margin: 25px 0;
    }
}

.why-section__right-item {
    padding-left: 7px;

    font-size: rem(14px);
    line-height: rem(18px);

    display: flex;
    align-items: center;
    column-gap: rem(24px);

    &::before {
        flex-shrink: 0;
        box-sizing: content-box;
        content: '';
        display: block;
        width: rem(12px);
        height: rem(12px);
        border-radius: 50%;
        background-color: $electric-violet;

        border: rem(5px) solid $white;
        box-shadow: 0 0 0 rem(7px) $yellow;
    }
}

.why-section__right-info {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 60px;

    @media (max-width: 768px) {
        margin-bottom: rem(40px);
    }
}

.why-section__right-text {
    font-size: rem(18px);
    font-weight: 700;
    line-height: rem(24px);
    padding-right: 20px;
}

.btn--why-section {
    padding-left: rem(98px);
    padding-right: rem(91px);
}
