
.icon-dom:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-vverx:before { content: '\e802'; } /* '' */
.icon-zavodik:before { content: '\e803'; } /* '' */
.icon-copy:before { content: '\e804'; } /* '' */
.icon-calc:before { content: '\e805'; } /* '' */
.icon-ruble:before { content: '\e806'; } /* '' */
.icon-schedule:before { content: '\e807'; } /* '' */
.icon-bigsales:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-location:before { content: '\e80a'; } /* '' */
.icon-modal-close:before { content: '\e80d'; } /* '' */
