@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #000;
  position: relative;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  html, body {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  html, body {
    font-size: 13px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-family: inherit, sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 95%;
  max-width: 1177px;
  margin: 0 auto;
}

header {
  padding: 25px 0;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__logo {
  margin-right: 4.625rem;
}

.header__logo a {
  cursor: pointer;
}

.header__logo h1 {
  font-size: 3rem;
  line-height: 1;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .header_content {
    display: none;
    width: 100%;
    padding: 20px 70px 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: wheat;
  }
}

@media (max-width: 480px) {
  .header_content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header_content-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav {
  margin-bottom: 46px;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

@media (max-width: 768px) {
  .header__nav {
    width: 30%;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .header__nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  .header__nav {
    width: 100%;
  }
}

.header__nav-menu-item {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-right: 30px;
  margin-bottom: 5px;
  overflow-x: hidden;
  -webkit-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

.header__nav-menu-item:last-child {
  margin-right: 0;
}

.header__nav-menu-item::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background-image: url("../images/wave.svg");
  -webkit-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}

.header__nav-menu-item:hover {
  color: #453886;
}

.header__nav-menu-item:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .header__nav-menu-item {
    margin-right: 0;
  }
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 768px) {
  .header__contact {
    width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 480px) {
  .header__contact {
    width: 100%;
  }
}

.header__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.header__adress::before {
  font-size: 1.5rem;
  margin-right: 16px;
}

.header__contact-info {
  margin-left: 45px;
  margin-bottom: 10px;
}

.header__contact-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 8px;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.header__contact-phone::before {
  position: absolute;
  left: -43px;
}

.header__contact-phone:hover {
  color: #453886;
}

.header__contact-mail {
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.header__contact-mail:hover {
  color: #453886;
}

.header__back-call {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125rem;
  color: #fff;
  background-color: #000;
  padding: 0.6875rem 1.25rem;
  margin-right: 13px;
  margin-left: 10px;
  border-radius: 6px;
  position: relative;
  -webkit-transition: background-color 0.5s ease-in, color 0.5s ease-in;
  transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

.header__back-call:hover {
  color: #000;
  background-color: #FDBF0F;
}

.header__back-call::before {
  content: '';
  position: absolute;
  top: 5px;
  right: -13px;
  z-index: -1;
  width: 33px;
  height: 33px;
  border-radius: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000;
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

.header__back-call:hover::before {
  background-color: #FDBF0F;
}

@media (max-width: 768px) {
  .header__back-call::before {
    top: 4px;
    right: -12px;
    width: 31px;
    height: 31px;
  }
}

@media (max-width: 480px) {
  .header__back-call::before {
    top: 4px;
    right: -10px;
    width: 26px;
    height: 26px;
  }
}

.header__burger {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 60px;
  height: 55px;
}

.header__burger:before, .header__burger:after {
  content: '';
  width: 100%;
  height: 8px;
  background-color: #000;
  display: block;
  position: absolute;
  border-radius: 20px;
}

.header__burger:before {
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.header__burger:after {
  right: 0;
  top: 5px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

.header__burger .header__burger-text {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  bottom: 0;
  letter-spacing: 3px;
}

.header__burger.burger-open:before {
  -webkit-animation: topBurger_open 1s ease-in-out;
          animation: topBurger_open 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header__burger.burger-open:after {
  -webkit-animation: bottomBurger_open 1s ease-in-out;
          animation: bottomBurger_open 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header__burger.burger-open .header__burger-text {
  -webkit-animation: menuLabel_open 1s ease-in;
          animation: menuLabel_open 1s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header__burger.burger-close:before {
  -webkit-animation: topBurger_close 1s ease-in-out;
          animation: topBurger_close 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header__burger.burger-close:after {
  -webkit-animation: bottomBurger_close 1s ease-in-out;
          animation: bottomBurger_close 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header__burger.burger-close .header__burger-text {
  -webkit-animation: menuLabel_close 1s ease-in;
          animation: menuLabel_close 1s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
}

@-webkit-keyframes topBurger_open {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
    width: 60px;
  }
  10% {
    -webkit-transform: translateY(-8px) rotate(0deg);
            transform: translateY(-8px) rotate(0deg);
    width: 60px;
  }
  50% {
    -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
    width: 84px;
  }
  100% {
    -webkit-transform: translateY(-28px) rotate(45deg);
            transform: translateY(-28px) rotate(45deg);
    width: 84px;
  }
}

@keyframes topBurger_open {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
    width: 60px;
  }
  10% {
    -webkit-transform: translateY(-8px) rotate(0deg);
            transform: translateY(-8px) rotate(0deg);
    width: 60px;
  }
  50% {
    -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
    width: 84px;
  }
  100% {
    -webkit-transform: translateY(-28px) rotate(45deg);
            transform: translateY(-28px) rotate(45deg);
    width: 84px;
  }
}

@-webkit-keyframes bottomBurger_open {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
    width: 60px;
  }
  10% {
    -webkit-transform: translateY(-8px) rotate(0deg);
            transform: translateY(-8px) rotate(0deg);
    width: 60px;
  }
  60% {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg);
    width: 84px;
  }
  75% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
    width: 84px;
  }
  100% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
    width: 84px;
  }
}

@keyframes bottomBurger_open {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
    width: 60px;
  }
  10% {
    -webkit-transform: translateY(-8px) rotate(0deg);
            transform: translateY(-8px) rotate(0deg);
    width: 60px;
  }
  60% {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg);
    width: 84px;
  }
  75% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
    width: 84px;
  }
  100% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
    width: 84px;
  }
}

@-webkit-keyframes menuLabel_open {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  45% {
    -webkit-transform: translateY(44px);
            transform: translateY(44px);
    opacity: 1;
  }
  48% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes menuLabel_open {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  45% {
    -webkit-transform: translateY(44px);
            transform: translateY(44px);
    opacity: 1;
  }
  48% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
}

@-webkit-keyframes topBurger_close {
  0% {
    -webkit-transform: translateY(17px) rotate(45deg);
            transform: translateY(17px) rotate(45deg);
    width: 84px;
  }
  35% {
    -webkit-transform: translateY(-8px) rotate(-4deg);
            transform: translateY(-8px) rotate(-4deg);
    width: 60px;
  }
  53% {
    -webkit-transform: translateY(10px) rotate(3deg);
            transform: translateY(10px) rotate(3deg);
    width: 60px;
  }
  70% {
    -webkit-transform: translateY(-6px) rotate(0deg);
            transform: translateY(-6px) rotate(0deg);
    width: 60px;
  }
  100% {
    -webkit-transform: translateY(-2px) rotate(0deg);
            transform: translateY(-2px) rotate(0deg);
    width: 60px;
  }
}

@keyframes topBurger_close {
  0% {
    -webkit-transform: translateY(17px) rotate(45deg);
            transform: translateY(17px) rotate(45deg);
    width: 84px;
  }
  35% {
    -webkit-transform: translateY(-8px) rotate(-4deg);
            transform: translateY(-8px) rotate(-4deg);
    width: 60px;
  }
  53% {
    -webkit-transform: translateY(10px) rotate(3deg);
            transform: translateY(10px) rotate(3deg);
    width: 60px;
  }
  70% {
    -webkit-transform: translateY(-6px) rotate(0deg);
            transform: translateY(-6px) rotate(0deg);
    width: 60px;
  }
  100% {
    -webkit-transform: translateY(-2px) rotate(0deg);
            transform: translateY(-2px) rotate(0deg);
    width: 60px;
  }
}

@-webkit-keyframes bottomBurger_close {
  0% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
    width: 84px;
  }
  35% {
    -webkit-transform: translateY(-18px) rotate(6deg);
            transform: translateY(-18px) rotate(6deg);
    width: 60px;
  }
  53% {
    -webkit-transform: translateY(0px) rotate(-3deg);
            transform: translateY(0px) rotate(-3deg);
    width: 60px;
  }
  68% {
    -webkit-transform: translateY(-7px) rotate(0deg);
            transform: translateY(-7px) rotate(0deg);
    width: 60px;
  }
  100% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
    width: 60px;
  }
}

@keyframes bottomBurger_close {
  0% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
    width: 84px;
  }
  35% {
    -webkit-transform: translateY(-18px) rotate(6deg);
            transform: translateY(-18px) rotate(6deg);
    width: 60px;
  }
  53% {
    -webkit-transform: translateY(0px) rotate(-3deg);
            transform: translateY(0px) rotate(-3deg);
    width: 60px;
  }
  68% {
    -webkit-transform: translateY(-7px) rotate(0deg);
            transform: translateY(-7px) rotate(0deg);
    width: 60px;
  }
  100% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
    width: 60px;
  }
}

@-webkit-keyframes menuLabel_close {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  5% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 1;
  }
  37% {
    -webkit-transform: translateY(-22px);
            transform: translateY(-22px);
    opacity: 1;
  }
  45% {
    -webkit-transform: translateY(-22px);
            transform: translateY(-22px);
    opacity: 1;
  }
  58% {
    -webkit-transform: translateY(8px) rotate(-10deg);
            transform: translateY(8px) rotate(-10deg);
    opacity: 1;
  }
  83% {
    -webkit-transform: translateY(-6px) rotate(0deg);
            transform: translateY(-6px) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes menuLabel_close {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  5% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 1;
  }
  37% {
    -webkit-transform: translateY(-22px);
            transform: translateY(-22px);
    opacity: 1;
  }
  45% {
    -webkit-transform: translateY(-22px);
            transform: translateY(-22px);
    opacity: 1;
  }
  58% {
    -webkit-transform: translateY(8px) rotate(-10deg);
            transform: translateY(8px) rotate(-10deg);
    opacity: 1;
  }
  83% {
    -webkit-transform: translateY(-6px) rotate(0deg);
            transform: translateY(-6px) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */